<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
	
	<!-- SqlSession setup for MyBatis Database Layer -->
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionFactoryBean">
	<!-- ref의 dataSource는  context-datasource.xml에서 정의한 빈(bean)을 참조하는 것을 의미 -->
		<property name="dataSource" ref="dataSource" />
		<property name="mapperLocations" value="classpath*:/sqlmap/mappers/*.xml" />
		<!-- <property name="configLocation" value="classpath*:/sqlmap/sql-mapper-config.xml"/>  -->
	</bean>
	
	<!-- Mapper interface 사용시 MapperConfigurer 설정을 해주어야 한다 -->
	<bean class="egovframework.rte.psl.dataaccess.mapper.MapperConfigurer">
		<property name="basePackage" value="com.miris.**.mapper" />
	</bean>
	
</beans>