<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="">
	<insert id="" parameterType="">
		<![CDATA[
			INSERT INTO HRMS_DEPT_INFO
			(
				DEPT_CODE,
				DEPT_NAME,
				REG_DATE,
				REG_USER
			)
			VALUES
			(
				#{dept_code},
				#{dept_name},
				TO_CHAR(SYSDATE ,'YYYYMMDD'),
				#{reg_user}
			)
		]]>
	</insert>
	<delete id= "" parameterType="">
		<![CDATA[
			DELETE FROM HRMS_DEPT_INFO
			WHERE 
				DEPT_CODE = #{dept_code}
		]]>
	
	</delete>
</mapper>